@use '../globals';
@use '../mixins';

.idea {
	&__container,
	&__content-container {
		position: relative;
	}

	&__container {
		padding: 1em 0;
		margin: 0 auto;
	}

	&__content-container {
		@include mixins.flex;
		flex-direction: column;
		padding: 1em 2em 2em;
		width: 100%;
		text-align: center;
	}

	&__title {
		padding-bottom: 2.5rem;
	}

	&__content-box {
		padding: 2em 0;
		width: 100%;
		max-width: 350px;
		text-align: left;

		img {
			border-radius: 0.825em;
			width: 100%;
			max-width: 350px;
			box-shadow: 0px 0px 30px -15px rgba(255, 255, 255, 0.15);
		}

		h3 {
			padding-top: 1.25rem;
			font-size: 1.5em;
			font-weight: 400;
		}

		p {
			padding: 1.25em 0 1em;
			font-weight: 200;
			line-height: 1.5em;
		}
	}

	&__content-box:first-of-type {
		padding: 0 0 2em;
	}

	&__content-box:last-of-type {
		padding: 2em 0 0;
	}

	&__special-decoration {
		height: 1px;
		width: 50px;
		color: globals.$white-color;
		border: 1px solid globals.$white-color;
		margin-bottom: 1em;
	}

	&__first-icon-box,
	&__second-icon-box {
		display: none;
	}

	&__special-block {
		background-color: globals.$dark-blue-color;
	}
}

@media screen and (min-width: 768px) {
	.idea {
		&__content-box {
			max-width: 450px;

			img {
				max-width: 450px;
			}
		}
	}
}

@media screen and (min-width: 1024px) {
	.idea {
		&__container {
			padding-top: 0;
			padding-bottom: 3.2em;
		}

		&__first-icon-box {
			display: block;
		}

		&__first-box-icon {
			position: absolute;
			color: rgba(255, 255, 255, 0.15);

			&--first {
				top: -0.5em;
				left: 2em;
			}

			&--second {
				top: 3em;
				right: 1.5em;
			}

			&--third {
				top: 25%;
				left: 1.5em;
			}

			&--fourth {
				top: 40%;
				right: 2.25em;
			}

			&--fifth {
				top: 55%;
				left: 2em;
			}

			&--sixth {
				bottom: 33%;
				right: 3em;
			}

			&--seventh {
				bottom: 2%;
				right: 1.5em;
			}

			&--eighth {
				bottom: 10%;
				left: 1.65em;
			}
		}
	}
}

@media screen and (min-width: 1358px) {
	.idea {
		&__content-container {
			padding: 4em 0 2em;
			max-width: 1180px;
		}

		&__content-box {
			text-align: center;
		}

		&__first-box-icon {
			&--second {
				top: 3.5em;
				right: 0.5em;
			}

			&--third {
				top: 22%;
				left: 0.5em;
			}

			&--fourth {
				top: 36%;
			}

			&--fifth {
				left: 1.75em;
			}

			&--sixth {
				bottom: 30%;
				right: 1.5em;
			}

			&--seventh {
				bottom: 0;
				right: 2em;
			}

			&--eighth {
				bottom: 10%;
				left: 0.5em;
			}
		}
	}
}

@media screen and (min-width: 1720px) {
	.idea {
		&__first-box-icon {
			&--first {
				top: -1em;
				left: 1em;
			}

			&--eighth {
				bottom: 7%;
				left: 0.5em;
			}
		}

		&__second-icon-box {
			display: block;
		}

		&__second-box-icon {
			position: absolute;
			color: rgba(255, 255, 255, 0.15);

			&--first {
				top: 2.5em;
				left: -3em;
			}

			&--second {
				top: -1em;
				right: -3em;
			}

			&--third {
				top: 40%;
				left: -2.5em;
			}

			&--fourth {
				top: 25%;
				right: -1em;
			}

			&--fifth {
				bottom: 24%;
				left: -1.5em;
			}

			&--sixth {
				bottom: 45%;
				right: -1.75em;
			}

			&--seventh {
				bottom: 13%;
				right: -3em;
			}
		}
	}
}
