@use 'globals';

@media screen and (min-width: 990px) {
	.header {
		&__container {
			padding: 0.5rem 0;
		}

		&__title-box {
			margin: 0 0.5rem;
		}

		&__title-text {
			padding: 0;
		}
	}

	.navbar {
		&__desktop-list {
			font-size: 1.125rem;
		}

		&__item {
			margin: 0 2rem;
		}
	}
	.footer {
		&__company-name {
			font-size: 1rem;
		}
	}
}

@media screen and (min-width: 1024px) {
	.register {
		width: 50%;

		&__title {
			font-size: 1.8em;
		}

		&__form-toggle a {
			font-size: 1.1em;

			&:hover {
				color: globals.$white-color;
				background-color: globals.$gray-btn-hover-color;
			}
		}
	}

	.form {
		&__label {
			font-size: 1.1em;
		}

		&__input-error {
			font-size: 0.9em;
		}

		&__submit {
			font-size: 1.1em;

			&:hover {
				color: globals.$white-color;
				background-color: globals.$gray-btn-hover-color;
			}
		}
	}

	.footer {
		&__container {
			margin: 2.5rem 0 0;
		}

		&__bar {
			&--second {
				margin-top: 2.5rem;
			}
		}

		&__box:nth-of-type(3) {
			display: block;
		}
	}
}

@media screen and (min-width: 1536px) {
	.header {
		&__container {
			width: 95%;
			border-bottom-right-radius: 75px;
			border-bottom-left-radius: 75px;
		}
	}

	.navbar {
		&__login-icon {
			margin: 5px 2rem 0;
		}
	}

	.register {
		width: 35%;
	}

	.footer {
		&__box:nth-of-type(4) {
			display: block;
		}
	}
}
