@media screen and (min-width: 768px) {
	.navbar {
		&__container {
			padding: 0 2.5rem;
			justify-content: space-between;
		}

		&__desktop {
			display: block;
		}

		&__mobile-burger-btn {
			display: none;
		}

		&__desktop-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style-type: none;
		}

		&__item {
			margin: 0 1rem;
		}

		&__login-icon {
			margin-top: 5px;
		}
	}

	.login,
	.register,
	.change-password {
		width: 70%;

		&__title {
			font-size: 1.7em;
		}
	}

	.login,
	.register {
		&__close-button {
			margin: 0.15em 0.35em 0;
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.welcome {
		&__text-container {
			h1 {
				font-size: 7rem;
			}
		}

		&__icon-container {
			position: absolute;
			display: block;
			bottom: 1em;
			left: 50%;
			transform: translateX(-50%);
			padding: 0.25em;
			animation: bounce 2s infinite;
		}
	}
}
