@media screen and (min-width: 768px) {
	.header {
		&__container {
			justify-content: space-around;
		}
	}

	.navbar {
		&__desktop {
			display: block;
		}

		&__mobile-burger-btn {
			display: none;
		}

		&__desktop-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style-type: none;
		}

		&__item {
			margin: 0 1rem;
		}

		&__login-icon {
			margin-top: 5px;
		}
	}

	.login,
	.register,
	.change-password {
		width: 70%;

		&__title {
			font-size: 1.7em;
		}
	}

	.login,
	.register {
		&__close-button {
			margin: 0.15em 0.35em 0;
		}
	}
}
