@media screen and (min-width: 768px) {
	.error-popup {
		&__box {
			width: 70%;
		}
	}

	.navbar {
		&__container {
			padding: 0 2.5rem;
			justify-content: space-between;
		}

		&__desktop {
			display: block;
		}

		&__mobile-burger-btn {
			display: none;
		}

		&__desktop-list {
			display: flex;
			align-items: center;
			justify-content: space-between;
			list-style-type: none;
		}

		&__item {
			margin: 0 1rem;
		}

		&__login-icon {
			margin-top: 5px;
		}
	}

	.idea {
		&__content-box {
			max-width: 450px;

			img {
				max-width: 450px;
			}
		}
	}

	.login,
	.recover-password,
	.register,
	.change-password {
		width: 70%;

		&__title {
			font-size: 1.7em;
		}
	}

	.login,
	.recover-password,
	.register {
		&__close-button {
			margin: 0.15em 0.35em 0;
		}
	}

	.motto {
		&__maintext {
			font-size: 2.5rem;
		}
	}

	.offer {
		&__box {
			width: 50%;
		}

		&__box-title {
			font-size: 5em;
		}

		&__box-button {
			font-size: 1em;
		}

		&__error {
			padding: 9em 0.5em 0;
		}
	}

	.opinions {
		&__carousel-container {
			animation: scroll-left 210s linear infinite;
		}

		&__box-image {
			width: 70px;
			height: 70px;
		}

		&__error {
			padding: 9em 0.5em;
		}
	}

	.idea,
	.offer,
	.opinions,
	.blog {
		&__special-block {
			width: 35%;
			height: 50px;
		}
	}

	.contact {
		&__title-info-box {
			list-style-type: disc;
			text-align: left;
			max-width: 250px;
		}
	}

	.notfound {
		&__container {
			padding: 2.25em 0 0;
		}

		&__img {
			width: 70%;
		}

		&__credits {
			font-size: 2em;
		}
	}
}

@media screen and (min-width: 768px) and (min-height: 500px) {
	.welcome {
		&__text-container {
			h1 {
				font-size: 7rem;
			}
		}

		&__icon-container {
			position: absolute;
			display: block;
			bottom: 1em;
			left: 50%;
			transform: translateX(-50%);
			padding: 0.25em;
			animation: arrow-bounce 2s infinite;
		}
	}

	.blog {
		&__error-box {
			button {
				padding: 0.8em 0;
				margin-top: 1em;
				max-width: 250px;
				width: 250px;
			}
		}
	}

	.notfound,
	.terms-and-conditions {
		&__btn {
			padding: 0.8em 0;
			max-width: 280px;
			width: 280px;
		}
	}

	.notfound {
		&__btn {
			margin-top: 1em;
		}
	}
}
