@use 'globals';

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin button {
	padding: 0.55em 3em;
	color: globals.$darker-blue-color;
	background-color: globals.$white-color;
	font-family: globals.$main-font;
	font-size: 1em;
	border: none;
	border-radius: 2px;
	box-shadow: inset 0 0 0.25em globals.$white-color, 0 0 0.25em globals.$white-color;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;
}
