@use 'globals';

@mixin flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin title {
	padding-bottom: 2rem;
	font-size: 2.5rem;
	text-align: center;
	font-weight: 300;
}

@mixin button {
	padding: 0.55em 3em;
	width: 215px;
	color: globals.$darker-blue-color;
	background-color: globals.$white-color;
	font-family: globals.$main-font;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	box-shadow: inset 0 0 0.25em globals.$white-color, 0 0 0.25em globals.$white-color;
	letter-spacing: 1px;
	transition: background-color 0.3s, color 0.3s;
	cursor: pointer;

	@media screen and (min-width: 1024px) {
		& {
			width: 235px;
		}
	}
}
