@media screen and (max-width: 300px) {
	.login,
	.register {
		&__close-button {
			padding: 0.1em 0.25em;
			font-size: 1.6em;
		}
	}
}

@media screen and (max-width: 399px) {
	.form {
		&__password-reset-btn {
			right: 0;
		}
	}
}

@media screen and (min-width: 400px) {
	.form {
		&__input,
		&__textarea {
			width: 90%;
		}
	}
}

@media screen and (max-width: 500px) {
	.footer {
		&__company-name {
			font-size: 0.75rem;
		}
	}
}

@media screen and (min-width: 500px) {
	.login,
	.register {
		&__close-button {
			padding: 0.5em;
			font-size: 2em;
		}
	}

	.form {
		p {
			padding: 1rem 3rem;
		}
	}
}

@media screen and (min-width: 600px) {
	.login,
	.register,
	.new-password {
		width: 80%;
	}
}

@media screen and (min-width: 640px) {
	.form {
		&__password-reset-box {
			padding: 0 1em;
		}
	}

	.footer {
		&__bar,
		&__container {
			width: 90%;
		}

		&__box:nth-of-type(2) {
			display: block;
		}
	}
}
