@use 'animations';
@use 'mixins';
@use 'globals';

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
}

body {
	background-color: globals.$darker-blue-color;
	color: globals.$white-color;
	font-family: globals.$main-font;
	font-size: 16px;
	letter-spacing: 1px;
}

.animate-slide-in {
	animation: slideIn 0.5s ease-out;
}

.animate-slide-out {
	animation: slideOut 0.5s ease-out;
}

.cookie-banner-text {
	padding: 0.25em;
}

.cookie-banner-link {
	color: #ffdf00;
	text-underline-offset: 2px;
}

.scroll-block {
	overflow: hidden;
}

.error-popup {
	@include mixins.flex;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.95);
	z-index: 10;

	&__box {
		position: relative;
		@include mixins.flex;
		flex-direction: column;
		padding: 1em;
		width: 90%;
		height: 200px;
		opacity: 0;
		animation: popup-animation 1s linear forwards;
	}

	&__message {
		margin-bottom: 1em;
		font-size: 1.2em;
		text-align: center;
	}

	&__button {
		@include mixins.button;
	}
}

.navbar {
	position: fixed;
	@include mixins.flex;
	top: 0;
	width: 100%;
	background-color: transparent;
	letter-spacing: 0.1em;
	transform: translateY(-110%);
	transition: opacity 0.3s, transform 0.3s, background-color 0.3s, box-shadow 0.3s;
	z-index: 50;
	opacity: 0;

	&--is-scrolled {
		background-color: globals.$darker-blue-color;
		-webkit-box-shadow: 0px 0px 25px -4px rgba(23, 44, 63, 1);
		-moz-box-shadow: 0px 0px 25px -4px rgba(23, 44, 63, 1);
		box-shadow: 0px 0px 25px -4px rgba(23, 44, 63, 1);
		transform: translateY(0);
		opacity: 1;
	}

	&__container,
	&__title,
	&__title-box {
		display: flex;
		align-items: center;
	}

	&__container {
		justify-content: space-between;
		padding: 1rem 0.5rem;
		width: 100%;
		height: 80px;
	}

	&__title {
		justify-content: center;
	}

	&__title-text {
		padding: 0.75rem;
		color: globals.$white-color;
		text-transform: uppercase;
		cursor: pointer;
	}

	&__desktop {
		display: none;
	}

	&__mobile-burger-btn {
		position: absolute;
		display: flex;
		right: 0;
		margin: 1rem;
	}

	&__mobile-list,
	&__login-icon {
		display: flex;
		align-items: center;
	}

	&__mobile-list {
		position: fixed;
		justify-content: flex-start;
		flex-direction: column;
		padding: 0.75rem 0.75rem 2rem;
		top: 0.25rem;
		right: 0.25rem;
		width: 80vw;
		height: 98.75vh;
		color: globals.$white-color;
		background-color: globals.$dark-blue-color;
		border-radius: 0.375rem;
		box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
		list-style-type: none;
		overflow: auto;
		z-index: 50;
	}

	&__mobile-exit-icon {
		align-self: flex-start;
		margin: 0.5rem 0;
		font-size: 1.25rem;
		cursor: pointer;
	}

	&__item {
		margin: 0 0.5rem;
		z-index: 10;
	}

	&__item-margin {
		margin-bottom: 1.25rem;
	}

	&__item-link {
		padding: 0.5rem;
		color: globals.$white-color;
		text-transform: capitalize;
		text-decoration: none;
		transition: color 0.3s ease-out;
	}

	&__login-icon {
		justify-content: center;
	}

	&__login-icon-margin {
		margin-left: 0.75rem;
	}

	&__login-icon-link {
		padding: 0.5rem;
		color: globals.$white-color;
		transition: color 0.3s ease-out;
	}
}

.welcome {
	position: relative;
	@include mixins.flex;
	min-height: 100vh;
	width: 100%;
	background-image: url('../images/welcome-section/welcome-image.jpg');
	background-size: cover;
	background-position: center;

	&__wrapper {
		margin: 0 auto;
		width: 100%;
		max-width: 1080px;
	}

	&__text-container {
		position: relative;
		@include mixins.flex;
		flex-direction: column;
		width: 100%;
		max-width: 1080px;

		h1 {
			font-size: 5rem;
			font-family: globals.$special-font;
		}

		p {
			padding-bottom: 2em;
		}
	}

	&__text-container-icon {
		display: none;
	}

	&__image-container {
		display: none;
	}

	&__btn-box {
		@include mixins.flex;
		flex-direction: column;
		width: 100%;

		a {
			text-decoration: none;
			@include mixins.button;
		}
	}

	&__icon-container {
		display: none;
	}
}

.idea,
.offer,
.opinions,
.blog {
	position: relative;
	padding: 30px 0 40px;
	width: 100%;
	overflow: hidden;

	&__container {
		@include mixins.flex;
		flex-direction: column;
		width: 100%;
		max-width: 2160px;
	}

	&__title {
		@include mixins.title;
	}

	&__special-block {
		position: absolute;
		bottom: 0;
		width: 40%;
		height: 40px;

		&--left {
			left: -50px;
			transform: skew(45deg);
		}

		&--right {
			right: -50px;
			transform: skew(-45deg);
		}
	}
}

.idea {
	&__container {
		position: relative;
		padding: 1em 0;
		margin: 0 auto;
	}

	&__content-container {
		@include mixins.flex;
		flex-direction: column;
		padding: 1em 2em 2em;
		width: 100%;
		text-align: center;
	}

	&__title {
		padding-bottom: 2.5rem;
	}

	&__content-box {
		padding: 2em 0;
		width: 100%;
		max-width: 350px;
		text-align: left;

		img {
			border-radius: 0.825em;
			width: 100%;
			max-width: 350px;
			box-shadow: 0px 0px 30px -15px rgba(255, 255, 255, 0.15);
		}

		h3 {
			padding-top: 1.25rem;
			font-size: 1.5em;
			font-weight: 400;
		}

		p {
			padding: 1.25em 0 1em;
			font-weight: 200;
			line-height: 1.5em;
		}
	}

	&__content-box:first-of-type {
		padding: 0 0 2em;
	}

	&__content-box:last-of-type {
		padding: 2em 0 0;
	}

	&__special-decoration {
		height: 1px;
		width: 50px;
		color: globals.$white-color;
		border: 1px solid globals.$white-color;
		margin-bottom: 1em;
	}

	&__special-block {
		background-color: globals.$dark-blue-color;
	}
}

.offer,
.opinions {
	&__error {
		padding: 4em 0.5em;
		color: globals.$white-color;
		font-size: 1.35em;
		text-align: center;
	}
}

.offer {
	min-height: 75vh;
	background-color: globals.$dark-blue-color;

	&__wrapper {
		@include mixins.flex;
		flex-direction: column;
		padding: 1em 0 50px;
		width: 100%;
	}

	&__box {
		@include mixins.flex;
		flex-direction: column;
		padding: 1em;
		margin: 1em;
		width: 90%;
		max-width: 450px;
		color: globals.$white-color;
		border-radius: 1em;
		text-align: center;

		ul {
			padding: 0 1em 1em 2em;
			line-height: 1.5em;
			text-align: left;
		}
	}

	&__box-special-text,
	&__price {
		padding: 0.75em;
		font-size: 1.4em;
		font-weight: 400;
		line-height: 32px;
	}

	&__box-special-text {
		color: globals.$gray-color;
	}

	&__price {
		padding: 0 0.75em 1em;
		color: globals.$white-color;
	}

	&__box-title {
		padding: 0.25em 0;
		font-size: 3.5em;
		font-family: globals.$special-font;
		font-weight: 400;
	}

	&__box-text {
		padding: 1em 0.5em;
		line-height: 1.5em;
	}

	&__box-button {
		margin: 0.75em 1.5em 1.5em;
		@include mixins.button;
	}

	&__special-block {
		background-color: globals.$darker-blue-color;
	}
}

.motto {
	position: relative;
	width: 100%;
	overflow: hidden;

	&__container {
		@include mixins.flex;
		flex-direction: column;
		padding: 4rem 0;
		margin: 0 auto;
		width: 100%;
		max-width: 2160px;
		text-align: center;
	}

	&__maintext {
		width: 66%;
		font-size: 1.875rem;
		line-height: 1.5em;
		font-weight: 500;
	}

	&__subtext {
		margin: 1.5em 0;
		font-style: italic;
		font-size: 1.35em;
		opacity: 0.8;
	}
}

.opinions {
	background-image: url('../images/opinions-section/opinions-background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	&__container {
		position: relative;
		padding: 1em 0;
		margin: 0 auto;
	}

	&__title {
		padding-bottom: 0.5rem;
	}

	&__wrapper {
		@include mixins.flex;
		flex-direction: column;
		width: 100%;
		padding: 3em 0;
		overflow: hidden;
	}

	&__carousel-container {
		display: flex;
		width: 100%;
		animation: scroll-left 150s linear infinite;
	}

	&__box {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 0 0 100%;
		padding: 1em;
		margin: 0 5%;
		background-color: globals.$darker-blue-color;
		color: globals.$white-color;
		box-shadow: 0px 0px 20px -15px rgba(224, 224, 224, 1);
		border-radius: 1em;

		h3 {
			padding: 1em 0.25em;
			margin-right: 2em;
			font-weight: 200;
			font-style: italic;
		}

		p {
			padding: 1em 0.25em 3.5em;
			font-weight: 400;
		}

		span {
			position: absolute;
			bottom: 15px;
			right: 15px;
			font-weight: 200;
			font-style: italic;
			text-align: right;
		}
	}

	&__box:nth-of-type(1) {
		margin: 0 5% 0 0;
	}

	&__box:nth-of-type(10) {
		margin: 0 0 0 5%;
	}

	&__box-icon {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		margin: 1.5rem;
		color: globals.$gray-color;
		opacity: 0.7;
		font-size: 32px;
	}

	&__special-block {
		background-color: #c4c4c4;
	}
}

.blog {
	background-color: #c4c4c4;
	color: globals.$dark-blue-color;

	&__wrapper {
		position: relative;
		@include mixins.flex;
		flex-direction: column;
		margin: 0 auto;
		width: 100%;
		max-width: 2160px;
		padding-bottom: 6em;
	}

	&__title {
		padding-bottom: 2.5rem;
	}

	&__loader {
		padding: 6em 0 4em;
		color: globals.$dark-blue-color;

		div {
			font-size: 50px;
		}
	}

	&__error-box {
		@include mixins.flex;
		flex-direction: column;
		padding: 4em 0 0;

		p {
			padding: 0 0.5em 2em;
			font-size: 1.2em;
			text-align: center;
		}

		button {
			margin: 1em 1em 1.25em;
			max-width: 180px;
			color: globals.$dark-blue-color;
			border: 2px solid globals.$dark-blue-color;
			@include mixins.button;
		}
	}

	&__carousel-container {
		position: relative;
		@include mixins.flex;
		width: 100%;
	}

	&__special-block {
		background-color: globals.$darker-blue-color;
	}
}

.blog-popup {
	position: fixed;
	@include mixins.flex;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(10, 10, 10, 0.65);
	z-index: 100;

	&__container,
	&__content-container {
		@include mixins.flex;
		flex-direction: column;
	}

	&__container {
		flex-flow: row wrap;
		width: 95%;
		max-width: 525px;
		height: 95%;
		max-height: 725px;
		background-color: globals.$white-color;
		color: globals.$dark-blue-color;
		border-radius: 0.5rem;
		overflow-y: auto;
	}

	&__title {
		padding: 3rem 2rem 2rem;
		width: 100%;
		font-size: 1.5rem;
		text-align: left;
		font-weight: 300;
	}

	&__public-date {
		padding: 0.5rem 2.1rem;
		width: 100%;
		font-weight: 300;
		font-style: italic;
	}

	&__content-container,
	&__content-box {
		padding: 1.1rem 1.1rem 2rem;
	}

	&__content-title {
		padding-bottom: 1rem;
		font-weight: 400;
		font-style: italic;
	}

	&__content-text {
		font-weight: 300;
		line-height: 1.5rem;
	}

	&__close-btn {
		display: block;
		padding: 0.75em 3.4em;
		margin: 1em 1em 1em;
		max-width: 180px;
		color: globals.$dark-blue-color;
		background-color: transparent;
		font-family: globals.$main-font;
		font-size: 1em;
		text-align: center;
		border: 2px solid globals.$dark-blue-color;
		border-radius: 0.125rem;
		letter-spacing: 1px;
		transition: background-color 0.3s, color 0.3s, border 0.3s;
		text-decoration: none;
		cursor: pointer;
	}
}

.blog-popup--is-active {
	overflow: hidden;
}

.contact {
	padding-top: 30px;
	width: 100%;

	&__container {
		@include mixins.flex;
		flex-direction: column;
	}

	&__title {
		@include mixins.title;
		padding-bottom: 2.5rem;
	}

	&__title-box,
	&__form {
		width: 100%;
	}

	&__title-box {
		position: relative;
		@include mixins.flex;
		flex-direction: column;
		padding-bottom: 2.5rem;
		max-width: 600px;
	}

	&__title-subtext {
		padding: 1rem;
		width: 90%;
		max-width: 400px;
		text-align: center;
		line-height: 1.8em;

		span {
			font-weight: 600;
		}

		a {
			color: globals.$white-color;
			text-underline-offset: 2px;
			transition: color 0.3s;
		}
	}

	&__title-info-box {
		padding: 2rem 0;
		width: 90%;
		max-width: 400px;
		list-style-type: none;
		text-align: center;

		li {
			padding: 0.5em;
			width: 100%;
		}

		p {
			padding: 0.25rem 0;
			font-weight: 300;
		}

		p:first-of-type {
			font-weight: 600;
		}
	}

	&__title-icon {
		display: none;
	}

	&__form {
		max-width: 600px;
	}
}

.login,
.recover-password,
.register,
.change-password {
	padding: 3em 1em;
	margin: auto;
	width: 100%;

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__title {
		padding: 1.5em;
		font-size: 1.5em;
		font-weight: 200;
	}

	&__strap {
		width: 90%;
		border-color: globals.$border-color;
	}

	&__strap:first-of-type {
		margin-bottom: 1em;
	}
}

.login,
.recover-password,
.register {
	&__close-button {
		position: absolute;
		padding: 0.35em;
		margin: 0.15em 0.25em 0;
		top: 0;
		right: 0;
		font-size: 1.6em;
		color: globals.$white-color;
		text-decoration: none;
		transition: color 0.3s, text-shadow 0.3s;
	}

	&__form-toggle {
		@include mixins.flex;
		flex-direction: column;
		padding: 1em 0 2em;

		p {
			padding-top: 1em;
		}

		a,
		button {
			margin-top: 1em;
			@include mixins.button;
		}

		a {
			text-decoration: none;
		}
	}
}

.form {
	@include mixins.flex;
	flex-direction: column;
	width: 100%;

	&__box,
	&__recaptcha-box {
		@include mixins.flex;
		flex-direction: column;
		width: 100%;
	}

	&__box {
		padding: 1em;
	}

	&__recaptcha-box {
		padding: 1em 0 1em 4px;
	}

	&__label {
		padding-bottom: 0.25em;
	}

	&__input {
		padding: 0.95em 3.25em 0.95em 0.75em;
		width: 100%;
		color: globals.$white-color;
		background-color: transparent;
		border: 1px solid globals.$border-color;
		box-shadow: inset 0 0 0.25em globals.$white-color, 0 0 0.25em globals.$white-color;
		font-family: globals.$main-font;
		font-size: 0.9em;
		letter-spacing: 1px;
		transition: border 0.3s, box-shadow 0.3s;
	}

	&__password-recover-box {
		position: relative;
		padding: 0.5em 1em;
		height: 1px;
		width: 90%;
	}

	&__password-recover-btn {
		position: absolute;
		right: 1rem;
		bottom: 5px;
		color: globals.$white-color;
		background-color: transparent;
		font-family: globals.$main-font;
		border: none;
		transition: color 0.3s;
		text-decoration: none;
		cursor: pointer;
	}

	&__textarea {
		padding: 0.95em 3.25em 0.95em 0.75em;
		width: 100%;
		height: 200px;
		min-height: 120px;
		max-height: 300px;
		color: globals.$white-color;
		background-color: transparent;
		border: 1px solid globals.$border-color;
		box-shadow: inset 0 0 0.25em globals.$white-color, 0 0 0.25em globals.$white-color;
		font-family: globals.$main-font;
		font-size: 0.9em;
		letter-spacing: 1px;
		transition: border 0.3s, box-shadow 0.3s;
		resize: vertical;
	}

	&__input,
	&__textarea {
		&:focus {
			border-color: globals.$white-color;
			outline: globals.$white-color;
		}

		&::placeholder {
			color: globals.$placeholder-color;
			opacity: 1;
		}

		&[aria-invalid='true'] {
			border: 1px solid globals.$error-color;
			box-shadow: inset 0 0 0.25em globals.$error-color, 0 0 0.25em globals.$error-color;
		}
	}

	&__input-error,
	&__textarea-error {
		padding-top: 0.25em;
		height: 1em;
		width: 100%;
		color: globals.$error-color;
		font-size: 0.8em;
		text-align: center;
	}

	&__recaptcha-error {
		padding: 8px;
		height: 2px;
		width: 90%;
		color: globals.$error-color;
		font-size: 0.95em;
		text-align: center;
	}

	&__submit {
		margin: 1em 1em 1.25em;
		@include mixins.button;
	}

	&__special-text {
		padding: 1rem 1rem;
		text-align: center;

		span {
			font-style: italic;
		}
	}
}

.loader {
	margin: 0.925em 0;

	&__spinner {
		position: relative;
		width: 1em;
		height: 1em;
		font-size: 45px;
		border-radius: 50%;
		animation: spin-animation 1.7s infinite ease, round-animation 1.7s infinite ease;
		overflow: hidden;
	}
}

.terms-and-conditions {
	position: relative;
	@include mixins.flex;
	flex-direction: column;
	padding: 1em;
	width: 100%;
	overflow: hidden;

	&__container {
		@include mixins.flex;
		flex-direction: column;
		width: 100%;
		padding-top: 40px;
	}

	&__title {
		padding-bottom: 2rem;
		font-size: 2.5rem;
		text-align: left;
		font-weight: 300;
		max-width: 400px;
	}

	&__box {
		padding: 1em 0;
		width: 100%;
		max-width: 400px;
		line-height: 1.8em;

		h2 {
			padding: 1em 0;
			font-weight: 300;
			font-style: italic;
			font-size: 1.2em;
		}

		p,
		ul {
			font-weight: 300;
		}

		ul {
			padding-top: 0.25em;
			padding-left: 1.3em;

			li {
				padding: 0.25em 0;
			}
		}

		a {
			color: globals.$white-color;
			font-weight: 500;
			text-decoration: none;
			transition: color 0.3s;
		}
	}

	&__special-ul {
		padding-bottom: 1em;
	}

	&__btn {
		margin: 3em 0 0;
		@include mixins.button;
	}
}

.footer {
	position: relative;
	@include mixins.flex;
	flex-direction: column;
	padding: 1rem;
	width: 100%;

	&__bar {
		width: 100%;
		height: 1px;
		background-color: globals.$white-color;

		&--first {
			margin-top: 5rem;
		}

		&--second {
			margin-top: 0.65rem;
		}
	}

	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: space-around;
		margin: 1.25rem 0 0.5rem;
		width: 100%;
		z-index: 10;
	}

	&__box {
		z-index: 10;

		a {
			padding: 2px 0.35rem 0.35rem;
			color: globals.$white-color;
			text-decoration: none;
			transition: color 0.3s ease-out;
		}

		a:hover {
			color: globals.$gray-color;
		}

		a:first-of-type {
			padding: 2px 0.25rem 0.25rem 0;
		}

		p {
			margin: 0.5rem 0 1rem;
		}

		ul {
			list-style-type: none;

			li {
				margin: 0.5rem 0;
			}
		}
	}

	&__box {
		h2 {
			font-size: 2rem;
			text-transform: uppercase;
		}
	}

	&__box:nth-of-type(2),
	&__box:nth-of-type(3),
	&__box:nth-of-type(4) {
		display: none;
	}

	&__copyright-box {
		@include mixins.flex;
		margin: 1.25rem 0 0.5rem;
		z-index: 10;
	}

	&__copyright-icon {
		margin: 0 0.25rem;
		height: auto;
	}

	&__company-name {
		font-size: 0.875rem;
		text-align: center;
		text-transform: uppercase;
	}
}

.notfound {
	position: relative;
	width: 100%;
	overflow: hidden;

	&__container {
		@include mixins.flex;
		flex-direction: column;
		padding: 2em 0 0;
		width: 100%;
	}

	&__img {
		width: 90%;
	}

	&__credits {
		padding: 0.5em;
		margin: 1em 0 1em;
		color: globals.$white-color;
		font-size: 1.8em;
		text-align: center;
	}

	&__btn {
		margin-bottom: 1em;
		@include mixins.button;
	}
}
