@use '../animations';

.loader {
	margin: 0.925em 0;

	&__spinner {
		position: relative;
		width: 1em;
		height: 1em;
		font-size: 45px;
		border-radius: 50%;
		animation: spin-animation 1.7s infinite ease, round-animation 1.7s infinite ease;
		overflow: hidden;
	}
}

@media screen and (min-width: 1024px) {
	.loader {
		margin: 1.155em 0;
	}
}
